.p-2{
    margin: 0;
    font-size: 14px;
    color: #a0aec0;
    text-align: start;
}

.p-2-center{
    margin: 0;
    font-size: 14px;
    color: #a0aec0;
    text-align: center;
}

.center-div{
    display: flex;
    justify-content: center;
    align-items: center;
}