.primary-use-case-container {
    border: 1px solid #F7F7F733;
    border-radius: 32px;
    display: flex;
    background-color: black;
    width: 100%;
    height: 100%;
    gap: 8px;
    overflow: hidden;
    cursor: pointer;
  }

.secondary-use-case-container {
    border: 1px solid #F7F7F733;
    border-radius: 32px;
    display: flex;
    background-color: black;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 8px;
    overflow: hidden;
    cursor: pointer;
  }

  .primary-use-case-content {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
  }

  .secondary-use-case-content {
    height: calc(100% - 16px);
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0px 16px;
    overflow: hidden;
  }
  
  .use-case-title {
    color: white;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 32px;
    margin: 0px;
  }
  
  .use-case-description {
    color: #AAA;
    margin: 0;
    font-weight: 200;
    text-align: start;
    width: 100%;
  }

  .use-case-link {
    color: white;
    text-decoration: underline;
    margin: 0;
    font-weight: 200;
    text-align: start;
  }
  
  .use-case-image {
    width: 65%;
    height: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .5;
    position: relative;
    overflow: hidden;
  }
  
  .primary-use-case-wrapper:hover .find-more-overlay {
    opacity: 1;
  }
  
  .primary-use-case-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .primary-overlay-wrapper {
    position: absolute;
    top: 0;
    left: 35%; /* Position over the image area, which starts at 35% */
    width: 65%; /* Match the width of the image area */
    height: 100%;
    pointer-events: none;
    z-index: 10;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .secondary-use-case-image {
    width: 100%;
    height: 100%;
    background-color: blue;
    position: relative;
    overflow: hidden;
  }
  
  .find-more-overlay {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: none;
  }
  
  .find-more-text {
    color: white;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0px;
}
  
  .secondary-use-case-wrapper:hover .find-more-overlay {
    opacity: 1;
  }
  
  .secondary-use-case-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  
  /* Override any filter that might be applied from parent containers */
  .no-filter {
    filter: none !important;
    transform: none !important;
    -webkit-filter: none !important;
  }