.main-v{
    max-width: 1200px;
    padding: 32px;
    width: 100%;
}

.main-paragh{
    margin: 32px 0px;
}

.main-paragh-h1{
    font-size: 70px;
    text-align: start;
    font-weight: 300;
    padding: 0px;
    margin: 0px;
}

.main-paragh-desc{
    text-align: start;
    max-width: 1000px;
    padding-left: 6px;
    margin: 0px;
}